body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #ebf7eb;
  background-color: #000000;
  text-align: center;
  overflow-x: hidden; /* Prevent side scroll */
}

/* Profile Bar */
.profile-bar {
  background-color: #111;
  padding: 10px;
}
.profile-bar a {
  color: #00ffcc;
  text-decoration: none;
  font-weight: bold;
  margin: 0 15px;
}
.profile-bar a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Header */
header {
  background-color: #333;
  color: #07fc03;
  padding: 20px;
}
.glow-text {
  font-size: 42px;
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00;
}

/* Navigation */
.top-nav {
  background-color: #222;
  padding: 10px;
}
.top-nav a {
  color: #ebf7eb;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
.top-nav a:hover {
  color: #070c29;
  background-color: #d9defa;
  padding: 5px;
  border-radius: 5px;
}

/* Sections */
section {
  padding: 20px;
}
h2 {
  color: #07fc03;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  margin: 10px 0;
}
ul li a {
  color: #00ffcc;
  text-decoration: none;
  font-weight: bold;
}
ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: #333;
  color: #fcfcfc;
  padding: 10px;
  margin-top: 20px;
}
